.container{
  display:flex;
  background-color: black;
 
  width:100%;
  height:2.5rem;
  align-items: center;
  justify-content:space-around;
  box-sizing: border-box;
}

.click{
  text-decoration: none;
  color: white;
  display:flex;
  font-size: .8rem; align-items: center;
  justify-content:space-around;

  place-content: center;
  box-sizing: border-box;
}
.click:hover{
  border-radius: .5rem;
  border: 1rem;
  box-shadow: 0 .4rem .2rem rgba(235, 235, 235, 0.08);
}
@media screen  and (max-width:610px){
  .container{
    flex-direction:column;
    flex-wrap: wrap;
  }

  
}