.ul{
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: auto;
   
    flex-direction: column;
}

.cart-heading {
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    font-size: 1.6rem;
}

.cart-card {
    width: 25rem;
     background-color: #ffffff;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    height: 8em;
    border: 2px solid #948b8b;
    list-style-type: none;
    display: flex;
    border-radius: 1em;
    justify-content: space-between;
    padding:  .5em .5em .5em .5em;
}

.cart-card img {
    object-fit: contain;
    width: 30%;
    height: 100%;
}
.counter-div{
    display: flex;
    align-items: center;
    
}
.counter{
    height: 15%;
    display: flex;
    align-items: center;
   
    background-color: #ffffff;
    justify-content: space-between;
}
.price-info {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
    justify-content: center;
}
.clear-button{
    border-radius: 2em;
}