.ul{
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: auto;
    flex-direction: column;
}

.cart-heading {
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    font-size: 1.6rem;
}

.cart-card {
    width: 25rem;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    height: 8em;
    border: 2px solid #ddd;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.cart-card img {
    object-fit: contain;
    width: 50%;
    height: 100%;
}
.counter-div{
    display: flex;
    align-items: center;
}
.counter{
    height: 16%;
    align-items: center;
}
.price-info {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
    justify-content: center;
}
.clear-button{
    border-radius: 2em;
}