.card {
   width: 20%;
   height: 20em;
    margin:1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid #ddd;
    border-radius: 0.5em;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    z-index: 4000;
    box-shadow:0 0 .5rem rgb(127, 122, 122) ;
}

.card img {
    width: 100%;
    display: block;
    height: 65%;
    object-fit:contain;
    overflow: hidden;
    border-radius: 5px;
}

.description {
    width: 100%;
    height: auto;
    
    font-style: italic;
    font-size: medium;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.but{
     border:none;
     margin-bottom: 1em;
     border-style: none;
     cursor:pointer;
     background-color: rgb(247, 16, 16);
     color: white;
     border-radius:.5rem;
       padding:.5rem .5rem .5rem .5rem;
}
.but:hover{
    background-color: rgb(14, 13, 13);
}

@media screen  and  (max-width:1000px){
    .card{
        width:40%;
       
    }
}
@media screen and (max-width:446px){
    .card{
        width:70%;
    }
    
}